[submodule "_vendor/src/github.com/elastic/beats"]
	path = _vendor/src/github.com/elastic/beats
	url = https://github.com/elastic/beats
[submodule "_vendor/src/github.com/pkg/errors"]
	path = _vendor/src/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "_vendor/src/github.com/stretchr/testify"]
	path = _vendor/src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
